body{
    background: var(--Background, #2B2B2B);
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}
.header-icon-ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(40px);
}
.header-icon-ul-li-a{
    width: 607px;
    text-decoration: none;
    justify-content: space-between;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    margin-right: 50px;
}
.header-icon{
    width: px;
    height: 60px;
}
.header-icon-button{
    display: flex;
    height: 60px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: var(--Call-to-Action, #A259FF);
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
}
.header-img{
    transform: translateY(10px) translate(-50px);
}
.right-box-img{
    margin-right: 80px;
}
.right-box-card{
    transform: translateY(30px);
}
.right-box-card-p{
    flex: 1 0 0;
    color: var(--White, #FFF);

    /* H2 - Work Sans */
    font-family: Work Sans;
    font-size: 51px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 56.1px */
    text-transform: capitalize;
}
.right-box-card-number{
    transform: translateY(-20px);
}
.right-box-card-p-active{
    width: 460px;
    align-items: stretch;
    color: var(--White, #FFF);

    /* Body Text- Work Sans */
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 35.2px */
    text-transform: capitalize;
    transform: translateY(-30px);
}
.right-box{
    display: flex;
}
.form-element-input {
    width: 330px;
    height: 46px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: var(--Background, #2B2B2B);

    /* Base(Body) - Work Sans */
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}
.form-element-input input{
    padding: 16px 20px;
    border-radius: 20px;
    border: none;
}
.right-box-card-number-button{
    width: 330px;
    display: flex;
    height: 46px;
    padding: 0px 70px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 20px;
    background: var(--Call-to-Action, #A259FF);
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    border: none;
    transform: translateY(20px);
}
.futter-frozen-dayless-p{
    width: 238px;
    color: #CCC;

    /* Base(Body) - Work Sans */
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}
.futter-frozen-dayless-p-active{
    width: 238px;
    height: 18px;
    color: #CCC;

    /* Base(Body) - Work Sans */
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}
.futter-frozen-doktype-p{
    color: #FFF;

    /* H5 - Space Mono */
    font-family: Space Mono;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 35.2px */
    text-transform: capitalize;
}
.futter-frozen-doktype-p-active{
    color: #CCC;

    /* Base(Body) - Work Sans */
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}
.futter-frozen-stp-p{
    color: #FFF;

    /* H5 - Space Mono */
    font-family: Space Mono;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 35.2px */
    text-transform: capitalize;
}
.futter-frozen-stp-p-active{
    width: 330px;
    color: #CCC;

    /* Base(Body) - Work Sans */
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}
.futter-frozen-stop-button{
    width: 380px;
    height: 60px;
    padding: 16px 0px 16px 20px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: var(--Text, #FFF);
    color: var(--Background, #2B2B2B);

    flex: 1 0 0;
    /* Base(Body) - Work Sans */
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    border: none;
}
.futter-frozen-stop-button-active{
    height: 60px;
    padding: 0px 50px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: var(--Call-to-Action, #A259FF);
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    border: none;
    transform: translateY(-14px) translate(-170px);
}
.futter-frozen-stop-button-p{
    color: var(--Background, #2B2B2B);

    /* Base(Body) - Work Sans */
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    transform: translateY(-15px) translate(-77px);
}
.futter-frozen{
    width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    transform: translate(120px);
}
.futter-frozen-dayless{
    transform: translateY(20px);
}
.futter-hr{
    width: 1049.414px;
    height: 0px;
    background: #858584;
    transform: translateY(20px);
}
.futter-p{
    align-items: stretch;
    color: #CCC;

    /* Caption - Work Sans */
    font-family: Work Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 13.2px */
    transform: translate(115px) translateY(40px);
}